<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031555934228-beliqeh1tq9uc82f8ni9mghc1otc8csl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031555934228-beliqeh1tq9uc82f8ni9mghc1otc8csl</string>
	<key>API_KEY</key>
	<string>AIzaSyC1rUcC-xitJp1bG-mu5QGC3HAbrISRLyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1031555934228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emersson.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-11a4a</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-11a4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031555934228:ios:363feb515913417e655f01</string>
</dict>
</plist>